header {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  background-color:rgb(186, 186, 253);
  width: 100%;
  height: 520px;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
h2 {
  display: flex;
  justify-content: center;
  justify-items: center;
}