nav {
 background-color:  #4056a1;
 color:white;
 height: 120px;
 width: 100%;
 position:fixed;
 font-size: 20px;
 padding: 1.5em;
}
nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 79%;
  flex-direction: column;
  color: red;
  font-size: 17px;
}
nav .nav-bar {
  margin-right: 1.5em;
  color: white;
  }

nav span {
  font-family:'Bungee', sans-serif;
  margin-left: 1.5em;
  font-size: 32px;
}
