.new-tweet {
  margin-top: 1em;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  color: #545149;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  
}

form button {
  color: white;
  background-color: #4056a1;
  margin-top: 1em;
  border: none;
  border-radius: 2px;
  font-family: 'Bungee', sans-serif;
}

#tweet-text {
  border: none;
  border-bottom: 0.15em solid #545149;
  background-color: inherit;
  color: #545149;
  height: 1,5em;
  margin-top: 0.5em;
  font-family: 'Bungee', sans-serif;
 
}

.counter {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  color: #545149;
  font-family: 'Bungee', sans-serif;
}

.invalid {
  color: red;
}