.tweet {
  background-color: #f4f1ec;
  background-image: none;
  border: #545149 4px solid;
  padding: 0.5em;
  margin-bottom: 3em;
  
}

article header {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  background-image: inherit; 
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  
}

article .content {
font-weight: 600;
border-bottom: #545149 4px solid;
color:hsl(40, 3%, 45%);
padding: 1em;
margin: 0;
overflow-wrap: break-word;
}

article footer{
  font-size: medium;
  font-weight: 600;
}

article footer p{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-top: 8px;
}

article .name {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

article footer .icons {
  color: #4056a1;
  margin: 4px;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

footer .fa-solid:hover{
  color: #c48f40;
}

.tweet:hover {
  box-shadow: 10px 10px #98a0b7
}

@media screen and (min-width:1024px) {
#tweets-container { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
}

.handle {
  font-weight: bold;
  color:#afb6b4;
}
  }
  
